body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card-container {
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
}

/* style.css */

.card-image {
  width: 10px;
  height: auto;
}
